#include <windows.h>

1 RT_MANIFEST "../resources/app.manifest"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 123,0,0,0
 PRODUCTVERSION 123,0,0,0
 FILEFLAGSMASK 0x3fL
 FILEFLAGS 0
 FILEOS VOS_NT_WINDOWS32
 FILETYPE VFT_APP
 FILESUBTYPE 0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904B0"
    BEGIN
      VALUE "FileVersion", "123.0.0.0\0"
      VALUE "ProductVersion", "123.0.0.0\0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 1200
  END
END
